[submodule "submodule/informer"]
	path = submodule/informer
	url = https://github.com/ObsisMc/Informer2020
[submodule "submodule/autoformer"]
	path = submodule/autoformer
	url = https://github.com/ObsisMc/Autoformer
