[submodule "submodule/informer2020"]
	path = submodule/informer2020
	url = https://github.com/zhouhaoyi/Informer2020.git
[submodule "submodule/autoformer"]
	path = submodule/autoformer
	url = https://github.com/thuml/Autoformer.git
